<!DOCTYPE html>
<html lang="en">
   {% extends 'base.html' %}    

   {% block content %}
 
<head>
  <center>Application Form!</center> <br>
</head>
<body><center>
   <form action="/application" method="post" enctype="multipart/form-data">
<table border="3"><tr><th>Name</th><th><input type="text" name="name" required></th></tr>
   <tr><th>Age</th><th><input type="number" name="age"></th></tr>
   <tr><th>Course Name</th><th><input type="text" name="course_name"></th></tr>
   <tr><th>Address</th><th><input type="text" name="address"></th></tr>
   <tr><th>Contact</th><th><input type="text" name="contact"></th></tr>
   <tr><th>Mail Id</th><th><input type="text" name="mail_id" required></th></tr>
   


</table><br>
<center>
      <label>Browse File:</label>
      <input type="file" name="upload_pdf"></center>
   <br>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset"><br><br>
      <input type="checkbox" name="send_email" value="send_email" required> I Agree
      ,Your privacy and security are paramount to us. By selecting the "I Agree" checkbox, you acknowledge that you understand the implications of your action. We assure you that your data will be handled with the utmost confidentiality and will not be shared with any third parties. Should you have any concerns or questions, please feel free to contact us for further assistance.


      
      
  
  </form>
   </center>
</body>
{% endblock %}  
</html>