<!DOCTYPE html>
<html>
    {% extends 'base.html' %}    

    {% block content %}
    
<h2><Center>
<b><i><u><font face="snap ITC" color="black">Vision</u></b></i></font>
</Center>
<title>
Osai InfoTech
</title></h2>
<body bgcolor="" Text="black">
<!--<body style="background-image:url('{{url_for('static', filename='images/hi.jpg')}}'); background-size: fill; background-repeat: no-repeat;">
</body style>-->

<p align="justify"><font face="Times new roman"><i>

Our vision is to create a community of skilled programmers who can drive innovation, solve complex problems, 
and shape the future of technology.
 We believe that programming is not just a technical skill, but a powerful tool for creative 
expression and problem-solving. We aim to foster a passion for 
programming and equip our students with the expertise to succeed in the dynamic and ever-evolving field of technology.</font></p></i><hr size=3>
<br><br>
<div style="position: fixed; bottom: 50%;">
<A Href="{{url_for('student')}}" target="_top">Student Login

</A><br>

</div>

Please proceed to create your own login credentials by registering below. If you don't have an existing login ID, you can register a new one.
<br><center>
<A Href="{{url_for('register')}}" target="_top">Registration

</A></center>
<div style="position: fixed; bottom: 0;">
<font color="purple">
<u><b>Visit Us:</u></b><br>
Osai-Infotech<br>
50,East vaithiyanatha puram<br>
Thathaneri, Tamilnadu, 625018<br>
India

</f></f></div>
</body>
{% endblock %}  
</html>