<html>
<title>
OSAI INFO TECH
</title><body text="purple"><body style="background-image: url('{{url_for('static', filename='images/design2.jpg')}}');">
</body style>
<br><br>
<Marquee bgcolor="grey" Direction="Right"><Font Color="white">ADMISSONS OPEN!</Font></Marquee>
<Hr Size=3 Noshade>
<center><Table Width="85%" Cell Spacing="5" Cell Padding="2" Border="10">
<Tr><th Bgcolor="white">Course</th><th Bgcolor="grey">Amount</th>
<th Bgcolor="white">Duration</th><th bgcolor="grey">Benifit</th></tr>
<tr><th>Python</th><td><center>20,000/-</center></td><td><Center>Three Months</Center></td><td><Center>One Hour Practical</Td></Center></tr>
<Tr><th>Sql</th><td><center>15,000/-</center></td><td><Center>Two Months</Center></td><td><Center>One Hour Practical</Td></center></Tr>
<Tr><th>Html&Css</Th><td><center>10,000/-</center></td><td><Center>Two Months</Center></Td><td><Center>Two Hour Practical</Td></center></tr>
</Table></center><br><br>
<center><A href="{{url_for('application')}}">Application Form!</A> </center>
<b>Why Choose OSAI-INFOTECH:</b><ol>
<li>Experienced Instructors:<ol>Our instructors are experienced programmers who are passionate about teaching and helping others succeed.
 They have years of industry experience and keep up-to-date with the latest trends and technologies in the field. 
They are dedicated to providing personalized guidance and support to each student.</ol><br><li>Hands-on Learning:<ol>We believe that
 the best way to learn programming is through hands-on practice. 
That's why our courses are designed to be interactive and project-based. You'll have access to our state-of-the-art computer labs, 
where you can apply your skills and experiment with different programming languages and tools.</ol><br><li>Personalized Approach:
<ol>We understand that each student has unique learning needs and goals. That's why we offer personalized coaching and customized learning plans.
 Our instructors will work with you to
 identify your strengths and weaknesses, and tailor their teaching approach accordingly.</ol><br><li>Career Support:<ol>Our goal is to help you succeed
 not only in our courses, but also in your career. That's why we offer career support services, such as resume building, 
job search assistance, and interview preparation. 
We have partnerships with leading tech companies and can help connect you with potential employers.</ol></ol>
<p align="justify">
Contact us today to learn more about our courses, schedule a consultation, or enroll in our upcoming classes. Together, 
let's embark on an exciting adventure of learning, growth, and success in the world of programming.</p>
</body></html>