<!DOCTYPE html>
<html>
{% extends 'base.html' %}    

{% block content %}

<Title>
Welcome to OSAI
</title>

<!--<body style="background-image: url('{{url_for('static', filename='images/back1.jpg')}}'); background-repeat: no-repeat; background-size: cover;">

</body style>-->
<bgsound src="D:\jeyaraman Wfh\9044\Image\cello.wav">
 <B>
<Center><font face="snap ITC">
OSAI INFOTECH</font>
</Center>
</B>
<center><small><font color="black" face="magneto">Succes Through Hardwork</font>
</center></small><hr size=3>

<marquee Direction="Left"><font color="grey" face="magneto">Welcome to Osai-Infotech by {{username}}: Your Pathway to Programming Success</font></Marquee>
<br><br><center>
<img Src="{{url_for('static', filename='images/yes.jpg')}}" class="img img-circle" alt="Template"></center>
<br><center>Join the Programming Revolution Today!</center>

<center><A Href="{{url_for('process')}}">Click Here To "Admission Process"

</A>
</center>
<br>
<p align=Justify><b><font face="magneto" color="black">
at OSAI-INFOTECH, we are passionate about computer programming and committed 
to providing high-quality coaching and training to individuals who want to excel in this field.
Whether you're a beginner or an experienced programmer, 
our comprehensive courses, expert instructors, and personalized approach can help you achieve your goals. 
 </b></p></font><br>
 <div style="justify-content: space-between;">
 <font color="purple">
Our Courses:
<ol type="1" start="1">
<li>Programming Fundamentals:<ol>This course is designed for beginners who want to learn the basics of computer programming.
 Through hands-on exercises, lectures, and projects, you'll gain a solid foundation in programming concepts, including variables,
 data types, control structures, and functions. By the end of the course, 
you'll be able to write simple programs in languages like Python, Java, or C++.</ol><br>
<li>Web Development:<ol>This course focuses on building dynamic and responsive websites using HTML, CSS, and JavaScript. 
You'll learn how to design user interfaces, create interactive web pages, and deploy web applications. 
Our instructors will guide you through the entire web development process,
 from front-end design to back-end implementation.</ol><br>
<li>Data Science and Machine Learning:<ol>This course is ideal for those who want to explore the field of data science and machine learning. 
You'll learn how to analyze large datasets, extract insights, and build predictive models using popular libraries and frameworks like NumPy, 
Pandas, and TensorFlow. 
You'll also gain hands-on experience with real-world datasets and projects.</ol><br>
<li>Software Engineering:<ol>This course is aimed at advanced programmers who want to develop their software engineering skills. 
You'll learn how to design, implement, and test software systems using modern software engineering principles and practices. Our instructors 
will cover topics such as software architecture, design patterns, testing, and deployment.</ol></ol></font><br>
</div>
</body>
{% endblock %}  
</html>



